/* Scale Animation */
.scale-box {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &.scaled {
        transform: scale(1.5);
    }
}

/* Translate Animation */
.translate-box {
    transition: transform 1s ease-in-out;

    &.translated {
        transform: translateX(10rem);
    }
}

/* Rotate Animation */
.rotate-box {
    transition: transform 1s ease-in-out;

    &.rotated {
        transform: rotate(360deg);
    }
}

/* Opacity Animation */
.opacity-box {
    transition: opacity 1s ease-in-out;

    &.faded {
        opacity: 0.5;
    }
}

/* Hover Animation */
.hover-box {
    transition: all 1s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.5);
        opacity: 0.8;
        background-color: #d98484;
    }
}
